<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Create Order</title>
  <!-- SEO: Add meta theme-color -->
  <meta name="theme-color" content="#006EA8" />
  <!--Google Fonts: Nunito-->
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet" />
  <!-- Bootstrap CSS -->
  <%- include('./partials/bootstrap')%>
  <!--CSS-->
  <link href="/public/assets/app.css" rel="stylesheet" type="text/css" />
</head>

<body style="background-color: #006ea8">
  <div class="container">
    <div id="home" class="flex-center flex-column">
      <h2>Create Order</h2>
      <form action="" method="POST">
        <input type="hidden" value="1" name="UserId">
        <div class="plain">
          <div>
            <img src="/public/assets/plainMiruhi.png" alt="Plain Milk" />
          </div>
          <div>Plain 1L</div>
          <div>Stock left: 15</div>
          <div>
            <p>Qty</p>
            <input type="number" step="1" id="quantity" name="1" />
          </div>
        </div>
        <div class="chocolate">
          <div>
            <img src="/public/assets/chocolateMiruhi.png" alt="Chocolate Milk" />
          </div>
          <div>Chocolate 1L</div>
          <div>Stock left: 15</div>
          <div>
            <p>Qty</p>
            <input type="number" step="1" id="quantity" name="Chocolate 1L" />
          </div>
        </div>
        <div class="strawberry">
          <div>
            <img src="/public/assets/strawberryMiruhi.png" alt="Strawberry Milk" />
          </div>
          <div>Strawberry 1L</div>
          <div>Stock left: 15</div>
          <div>
            <p>Qty</p>
            <input type="number" step="1" id="quantity" name="1" />
          </div>
          <div>
            <button type="submit" class="btn btn-primary">Submit Order</button>
          </div>
      </form>
      <div>
        <a class="btn" href="/users/action">Cancel</a>
      </div>
    </div>
  </div>
  </div>
</body>

</html>