<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Update Order</title>
  <!-- SEO: Add meta theme-color -->
  <meta name="theme-color" content="#006EA8" />
  <!--Google Fonts: Nunito-->
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet" />
  <!--CSS-->
  <link href="/public/assets/app.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="container">
    <div id="home" class="flex-center flex-column">
      <h2>Create Order</h2>
      <div class="plain">
        <div>
          <img src="/public/assets/plainMiruhi.png" alt="Plain Milk" />
        </div>
        <div>Plain 1L</div>
        <div>EUR 1</div>
        <div>Qty:2</div>
      </div>
      <div class="chocolate">
        <div>
          <img src="/public/assets/chocolateMiruhi.png" alt="Chocolate Milk" />
        </div>
        <div>Chocolate 1L</div>
        <div>EUR 1.5</div>
        <div>Qty: 1</div>
      </div>
      <div class="strawberry">
        <div>
          <img src="/public/assets/strawberryMiruhi.png" alt="Strawberry Milk" />
        </div>
        <div>Strawberry 1L</div>
        <div>EUR 1</div>
        <div>Qty: 1</div>
      </div>
      <div>
        <% const { id,name,phone,email,address } = order.dataValues %>
        <form method="POST">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" value="<%= name %>" required />
          <br />
          <label for="phone">Phone:</label>
          <input type="text" id="phone" name="phone" value="<%= phone %>" required />
          <br />
          <label for="email">E-mail:</label>
          <input type="text" id="email" name="email" value="<%= email %>" required />
          <br />
          <label for="address">Delivery address:</label>
          <input type="text" id="address" name="address" value="<%= address %>" required />
          <button type="submit" class="btn">Update Order</button>
        </form>
      </div>

      <a class="btn" href="/">Cancel</a>
    </div>
  </div>
</body>

</html>